In [1]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://supravmongodb:Sappy_0090@supravcluster0.zww8lc2.mongodb.net/?retryWrites=true&w=majority")
db = client.test
print(db)

Database(MongoClient(host=['ac-afupf0q-shard-00-00.zww8lc2.mongodb.net:27017', 'ac-afupf0q-shard-00-02.zww8lc2.mongodb.net:27017', 'ac-afupf0q-shard-00-01.zww8lc2.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-i09807-shard-0', tls=True), 'test')

In [4]:
db1=client["ineuron_project"]

In [5]:
client.list_database_names()

['admin', 'local']

In [6]:
coll1 = db1["csv_upload"]

In [7]:
# this is only to check if the collection is reflecting in the mongoDB atlas. Will delete this document later

dict1 = {
    "name" : "Sudhansu",
    "email-id" : "sudhansu@ineuron.ai",
    "product": ["one-neuron", "tech-neuron", "kid-neuron", "drone fleetmatics"],
    "company" : "ineuron intelligence private limited"
}

In [9]:
coll1.insert_one(dict1)

In [44]:
coll1.delete_one({'name':"Sudhansu"})

In [10]:
import pandas as pd

In [14]:
df = pd.read_csv("C:\\Users\\Sarthak\\OneDrive\\Desktop\\MongoDB\\csv_file.txt")

In [15]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [16]:
import json

In [39]:
records = json.loads(df.to_json(orient = 'records'))

In [40]:
coll1.insert_many(records)

In [45]:
for i in coll1.find().limit(5):
    print(i)

{'_id': ObjectId('638ef89de5a1294cd128431a'), 'Serial No.': 1, 'GRE Score': 337, 'TOEFL Score': 118, 'University Rating': 4, 'SOP': 4.5, 'LOR ': 4.5, 'CGPA': 9.65, 'Research': 1, 'Chance of Admit ': 0.92}
{'_id': ObjectId('638ef89de5a1294cd128431b'), 'Serial No.': 2, 'GRE Score': 324, 'TOEFL Score': 107, 'University Rating': 4, 'SOP': 4.0, 'LOR ': 4.5, 'CGPA': 8.87, 'Research': 1, 'Chance of Admit ': 0.76}
{'_id': ObjectId('638ef89de5a1294cd128431c'), 'Serial No.': 3, 'GRE Score': 316, 'TOEFL Score': 104, 'University Rating': 3, 'SOP': 3.0, 'LOR ': 3.5, 'CGPA': 8.0, 'Research': 1, 'Chance of Admit ': 0.72}
{'_id': ObjectId('638ef89de5a1294cd128431d'), 'Serial No.': 4, 'GRE Score': 322, 'TOEFL Score': 110, 'University Rating': 3, 'SOP': 3.5, 'LOR ': 2.5, 'CGPA': 8.67, 'Research': 1, 'Chance of Admit ': 0.8}
{'_id': ObjectId('638ef89de5a1294cd128431e'), 'Serial No.': 5, 'GRE Score': 314, 'TOEFL Score': 103, 'University Rating': 2, 'SOP': 2.0, 'LOR ': 3.0, 'CGPA': 8.21, 'Research': 0, 'Chance of Admit ': 0.65}